@using ToDoList.Models;

<!DOCTYPE html>
<html>

<head>
  <title>ToDo List!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <h1>ToDo List</h1>
    <nav class="container mb-5">
      <a href="/">Home</a>
    </nav>
    <div class="container card todo_list">
      <h3>Current ToDos:</h3>
      <ul class="d-flex flex-column">
        @foreach (Item todoItem in Model)
        {

          <li class="d-flex flex-row">
            <span>@todoItem.Description</span>
            <span>
              <form method="post" action="/items/delete/@todoItem.Description">
                <button class="btn btn-outline-danger btn-xs" type="submit">Delete Item</button>
              </form>
            </span>
          </li>
        }
      </ul>
    </div>
    <br />
    <div class="container card new_todos_form">
      <h3>New ToDos:</h3>
      <form method="post" action="/items">
        <label for="new_item">Enter ToDo:</label>
        <input type="text" id="new_item" name="new_item" />
        <button class="btn btn-outline-info" type="submit">Submit New ToDo</button>
      </form>
    </div>
  </div>
</body>

</html>